<table class="right" id="customers">
  <tr>
    <th>Date</th>
    <th>Total Price</th>
    <th>Vehicles Details</th>
  </tr>
  <tr *ngFor="let command of commands">

    <td class="date-column">{{command.date  | date:"dd/MM/yyyy 'à' h:mma"}}</td>

    <td class="price-column">{{command.price}} €</td>

    <td class="command-detail-column">

      <table class="command-detail-table">

        <tr *ngFor="let detail of getDetails(command.panier)">

          <td class="vehicle-name-detail-column">{{detail.name}}</td>

          <td class="vehicle-nb-detail-column">{{detail.quantity}}</td>

          <td class="vehicle-img-detail-column">
            
            <img  [routerLink]='detail.link' class="vehicle-img" [src]="detail.base64" alt="Picture of the vehicle">
            
          </td>

        </tr>

      </table>

    </td>

  </tr>

</table>