<div *ngIf="showFirst">
  <mat-dialog-content>
    <p>Choose Register if you don't have an account</p>
  </mat-dialog-content>
  <button mat-button (click)="showRegister()" color="primary">Register</button>
  <button mat-button (click)="showloginInPage()" cdkFocusInitial color="primary">Login</button>

  <!--mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Register</button>
  </mat-dialog-actions-->
</div>
<div *ngIf=!showFirst>
  <div *ngIf="showLogin; else elseBlock">
    <mat-dialog-content>
      <mat-toolbar>
        <span>LOGIN</span>
      </mat-toolbar>
      <mat-card class="my-card">
        <mat-card-content>
          <form class="my-form">
            <mat-form-field class="full-width">
              <mat-label>Username</mat-label>
              <input [(ngModel)]="username" matInput placeholder="Username" name="username" required>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Password</mat-label>
              <input [(ngModel)]="password" matInput placeholder="Password" name="password" required>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-dialog-actions>
          <button mat-raised-button (click)="login()" color="primary" mat-dialog-close>LOGIN</button>
        </mat-dialog-actions>
      </mat-card>
    </mat-dialog-content>
  </div>
  <ng-template #elseBlock>
    <mat-toolbar>
      <span>Registration</span>
    </mat-toolbar>
    <mat-card class="my-card">
      <mat-card-content>

        <!--form  class="my-form" [formGroup]="RegisterForm" #formDir="ngForm"-->
            <mat-form-field class="full-width">
              <mat-label for="username">Username</mat-label>
              <input [(ngModel)]="username" matInput placeholder="First name" name="username" required>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label >Password</mat-label>
              <input [(ngModel)]="password" matInput placeholder="Password" name="password" required>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label for="cpass">Confirmation Password</mat-label>
              <input [(ngModel)]="cpass" matInput placeholder="Confirm your password" name="cpass" required>
            </mat-form-field>
          
        <!--</form>-->
      </mat-card-content>
      <mat-dialog-actions>
        <button mat-raised-button (click)="register()" color="primary" mat-dialog-close>REGISTER</button>
      </mat-dialog-actions>
    </mat-card>
  </ng-template>
</div>